.spuritcartreminder_bar{
    z-index: 10000000;
    position: fixed;
    left: 0;
    right: 0;
    border-bottom-left-radius: 0!important;
    border-bottom-right-radius: 0!important;

    background-color: #dff4f7 !important;
    line-height: 70px;
    border-radius: 0px;
    opacity: 1;
    font-size: 24px!important;
    font-style: normal;
    color: #000000;
    text-align: center;
    padding-top: 10px;
}

.spuritcartreminder_bar.top{
    position: relative;
    top: 0;

}

.spuritcartreminder_bar.topfixed{

    top: 0;

}

.spuritcartreminder_bar.bottom{
    bottom: 0;
}