/* container */
#hub-container{
    box-sizing: content-box;
    margin: 5px 0 5px 0;
    text-align: left;
    padding: 10px;
    width: auto;
}
#hub-container *{
    display: table-cell;
    vertical-align: middle;
    width: auto;
}
/* left side text */
#hub-left span{
    display: block;
    text-align: left;
}
#hub-left span:first-child{
    margin-bottom: 5px;
}
/* middle block */
#hub-middle{
    padding: 0 5px;
    text-align: center;
}